@import './variables.scss';

.about {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__menus {
        margin-top: 50px;

    }
}

.collapse__menu{
    width: 1023px;
}