.carrousel {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;

  &__image {
    width: 1240px;
    height: 643px;
    border-radius: 25px;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);

    &--suivant {
      right: 0;
    }

    &--precedent {
      left: 0;
    }
  }

  &__counter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: center;
    color: white;
  }
}
