.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    padding-right: 10px;
    width: 582px;
    height: 52px;
    border-radius: 10px;
    background-color: #ff6060;

    button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }

    img {
      width: 32px;
      height: 32px;
      width: 32px;
      rotate: 270deg;
    }
  }

  &__title {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;
    color: white;
  }

  &__conteneur {
    width: 582px;
    display: flex;
    padding: 10px 20px 0px 10px;
    box-sizing: border-box;
    background-color: #F6F6F673;
    transition: all 0.5s ease;
  }

    &__contenu {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 25.67px;
      text-align: left;
    }
  }

