main {
    width: 1240px;
    margin: auto;
}

.fiche {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__titrehost{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__tagrate{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}