@import './variables.scss';

main {
    width: 1240px;
    margin: auto;
}

.fiche {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &__titrehost{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__tagrate{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menus {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .collapse {
        width: 582px;
    
        &__menu {
            width: inherit;
        }
    
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

