@import "./variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 1240px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  img {
    height: 68px;
    width: 210.32px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    gap: 57px;

    a {
      font-family: $main-font;
      font-weight: 500;
      font-size: 24px;
      line-height: 34.22px;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

@media (max-width: 767.98px) {
  header {
    width: 100%;
    box-sizing: border-box;

    img {
      height: 46.88px;
      width: 145px;
    }

    nav {
      gap: 26px;
      a {
        font-family: $main-font;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: right;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 350px) {
  header {
  nav {
    gap: 10px;
  }
}
}
