@import './variables.scss';

.home {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin: auto;
    
    &__cards-container {
        display: flex;
        justify-content: flex-start;
        gap: 50px;
        flex-wrap: wrap;
        background-color: $background-color;
        border-radius: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px 50px 50px 60px;
    }
}

@media (max-width: 425px) {

   .home {
        width: 100%;
        margin:auto;
    }

    



}