@import './variables.scss';

.rate {
    display: flex;
    flex-direction: row;
}

@media (max-width: 767.98px) {

    .rate {

        img {
            width: 18px;
            height: 18px;
        }

    }

}