@import './variables.scss';

.tags {
  display: flex;
  gap: 10px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    border-radius: 10px;
    height: 25px;

    p {
      font-family: $main-font;
      font-size: 14px;
      font-weight: 700;
      line-height: 19.96px;
      text-align: center;
      color: white;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
