@import './variables.scss';

.titre {
  flex-direction: column;
  gap: 0px;
  font-family: $main-font;

  &__logement {
    
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color:  $main-color;
    margin: 0;
    padding: 0;
  }

  &__location {
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    margin: 0;
    padding: 0;
  }
}
